cursor {
cursor: pointer;
   }


   label {
    font-size: 0.95rem;
    font-weight: bold;
    line-height: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
     }

  h4 {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: center;
      font-size: 1.2rem;
      clear: right;
      color:whitesmoke; 
      border: solid rgb(6, 59, 59);
      border-radius: 30px;
      padding: 1rem;
      margin: 1rem;
      justify-items: center;
      background-color:  #42847D;
       }

       p {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        clear: right;
        color:whitesmoke; 
        /*border: solid rgb(6, 59, 59);
       / border-radius: 30px;
        padding: 2rem;
        margin: 1rem;*/
        justify-items: center;
        background-color:  #42847D;
       }

       h3 {
 
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 2em; 
        text-align: center;
        color: whitesmoke;
        border: solid rgb(6, 59, 59);
        border-radius: 30px;
        padding: 4rem;
        margin: 1rem;
        background-color:  #42847D;
      }

      h6 {
 
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 0.8rem; 
        color: whitesmoke;
        border: solid rgb(6, 59, 59);
        border-radius: 30px;
        padding: 2rem;
        margin: 1rem;
        justify-items: center;
        background-color:  #42847D;
      }

      div.form
      {
          text-align: center;
      }

form { 
display: inline-block;
text-align: center;  
padding:1% 1%;
background-color:#42847D;
border-radius: 30px;
box-shadow: 4px 4px 5px #888888

}

button {

    background-color: 30645E;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: all 0.5s;    
}

  button:hover {
  
    background-color: 008366;
    color:white;
    box-shadow: 7px 10px 40px yellowgreen;
    transform: rotate(9deg); 
  }

input {
  padding-right: 5rem;
   }

   /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.zone {
  cursor: pointer;
  color:rgb(10, 0, 0);
  font-size:2em;
  border-radius:4px;
  border:1px solid #bbb;
  transition: all 0.3s linear;
  
}

   /* Portrait & Landscape */

   @media only screen and (max width: 600px) {
    .zone {
      color:rgb(10, 0, 0);
      font-size:1em;
      border-radius:4px;
      border:1px solid #bbb;
      transition: all 0.3s linear;
      
    }

   }

.zone:hover {
  -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

footer {

  font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  text-align:center;
}

.blue{
  background: #FFFF74; /* Old browsers */
  background: -moz-linear-gradient(top, #FFFF74 0%, #FFFFA3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFF74), color-stop(100%,#FFFFA3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FFFF74 0%,#FFFFA3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FFFF74 0%,#FFFFA3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FFFF74 0%,#FFFFA3 100%); /* IE10+ */
  background: linear-gradient(top, #FFFF74 0%,#FFFFA3 100%); /* W3C */
}


.yellow{
   background: #FFFF74; /* Old browsers */
  background: -moz-linear-gradient(top, #FFFF74 0%, #FFFFA3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFF74), color-stop(100%,#FFFFA3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FFFF74 0%,#FFFFA3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FFFF74 0%,#FFFFA3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FFFF74 0%,#FFFFA3 100%); /* IE10+ */
  background: linear-gradient(top, #FFFF74 0%,#FFFFA3 100%); /* W3C */
  
}

.red{
  background: #FFFF74; /* Old browsers */
  background: -moz-linear-gradient(top, #FFFF74 0%, #FFFFA3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFF74), color-stop(100%,#FFFFA3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #FFFF74 0%,#FFFFA3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #FFFF74 0%,#FFFFA3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #FFFF74 0%,#FFFFA3 100%); /* IE10+ */
  background: linear-gradient(top, #FFFF74 0%,#FFFFA3 100%); /* W3C */
}





